# Dependencies
node_modules/

# Environment variables (JANGAN PERNAH PUSH!)
.env
.env.local
.env.production

# Build output
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploads (jangan push file uploads user)
backend/uploads/*
!backend/uploads/.gitkeep